{
  "option_settings": [
    
    {
      "option_name": "MONGODBURL1",
      "value": "mongodb+srv://demo_app_flask:"
    },
    {
      "option_name": "MONGODBPWD",
      "value": "gGKLwYZlRZpaqO5G"
    },
    {
      "option_name": "MONGODBURL2",
      "value": "@cluster0.ctd0m.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
    },
    {
      "option_name": "CLOUDKEY",
      "value": "288526924168665"
    },
    {
      "option_name": "CLOUDSEC",
      "value": "VEPm0ViskWVtIA8IxyUs8Zx0tjQ"
    },
    {
      "option_name": "CLOUDNAME",
      "value": "pausetobuy"
    },
    {
      "option_name": "SENDGRID_API_KEY",
      "value": "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"
    }
  ]
}